<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Copy_of_Assignment_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Your code here
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/imdb.csv')

In [ ]:
df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [15]:
df['profit'] = df.revenue - df.budget
df['profit'].replace([np.inf,-np.inf],0,inplace=True)
pd.options.display.float_format = '{:.4f}'.format
df.profit

0        -1685349
1        55149435
2         9792000
3        14800000
4         3923970
          ...
2995      1596687
2996       180590
2997     24456761
2998    129963386
2999     47087155
Name: profit, Length: 3000, dtype: int64

In [17]:
# df['new_cast'] = df.cast.fillna('[]').apply(ast.literal_eval)
df['new_cast'] = df.cast.fillna('[]').apply(ast.literal_eval)

NameError: ignored

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [ ]:
# Your code here

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
# Your code here