<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
#Find the unique set of values. Store this in a list
unique_temp = list(set(temperatures))

In [ ]:
# Print the unique temperature list
print(unique_temp)

[33, 34, 39, 40, 42, 29]

In [ ]:
# Create an empty dictionary which will contain the unique temperatures as keys and their counts as values
temp_dict = {}

first_key = unique_temp[0]
temp_dict[first_key] = temperatures.count(first_key)

second_key = unique_temp[1]
temp_dict[second_key] = temperatures.count(second_key)

third_key = unique_temp[2]
temp_dict[third_key] = temperatures.count(third_key)

fourth_key = unique_temp[3]
temp_dict[fourth_key] = temperatures.count(fourth_key)

fifth_key = unique_temp[4]
temp_dict[fifth_key] = temperatures.count(fifth_key)

sixth_key = unique_temp[5]
temp_dict[sixth_key] = temperatures.count(sixth_key)


temp_dict

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
#  Store the dictionary values in a list
list_values = list(temp_dict.values())

# Find the index of the most frequent temperature value
index_most_freq = list_values.index(max(list_values))
index_most_freq

1

In [ ]:
#  Create the list of dictionary keys
list_of_keys = list(temp_dict.keys())

print(list_of_keys)

[33, 34, 39, 40, 42, 29]

In [ ]:
# Calculate the mode temperature
mode_of_temp = list_of_keys[index_most_freq]
print(mode_of_temp)

34

In [ ]:
# Input list of tuples
# You need to replace the last element of the last tuple with 100
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]

last_tuple = list_of_tuples[-1]
add_ele = last_tuple[:-1]+(100,)
output = list_of_tuples[:-1]
output.append(add_ele)
print(output)

[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

In [ ]:
# A sample sentence 

sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

# Print your sentence
print(sentence)

Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year

In [ ]:
sentence = sentence.split(" ")
first_word = list([word[0] for word in sentence])
print(first_word)

['H', 'g', 'm', 'f', 'T', 'w', 'w', 'a', 't', 'h', 'y', 'p', 'r', 'o', 't', 'c', 'D', 't', 't', 'o', 'C', 'p', 'o', 'p', 'h', 'd', 'b', '6', 'a', 'c', 't', 't', 'l', 'y']

In [ ]:
def factorial(num):
  result = 1
  if num < 0:
   result = print("We cannot define factorial value for negative numbers")
  elif num > 0:
    for i in range(1,num+1):
      result = result*i
  else:
    result = print("The factorial of 0 is 1")

  return result

In [ ]:
f = factorial(0)
f

The factorial of 0 is 1

In [ ]:
list_of_number = [0,1,-2,3,4,5,6,7,8,9,10]

factorial_list = [factorial(number) for number in list_of_number]
print(factorial_list)

The factorial of 0 is 1
We cannot define factorial value for negative numbers
[None, 1, None, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
zero = factorial(0)
zero

The factorial of 0 is 1

In [ ]:
# Let us write a function which takes a date as a string and prints the quarter as output.
# Remember it is not required that functions will return a value. This is an example of such functions

def dateQuarter(user_date):
  year = user_date[:4]
  month = user_date[5:7]

  if (month >= '01') & (month <='03'):
    quarter = year + '-Q1'
  elif (month >='04') & (month <= '06'):
    quarter = year + '-Q2'
  elif (month >='07') & (month <= '09'):
    quarter = year + '-Q3'
  else:
    quarter = year + '-Q4'
  
  print(f'The quarter of the given {user_date} is {quarter}')

In [ ]:
sample_Date = '2020/09/03'
date_ = dateQuarter(sample_Date)
date_

The quarter of the given 2020/09/03 is 2020-Q3

In [ ]:
def even_odd(num):
  if num > 0:
    if num%2!=0:
      result = "odd"
    else:
      result = "even"
  elif num == 0:
    result = "Number is Zero"
  else :
    result = "Number is Negative"
  return result

In [ ]:
number = even_odd(int(input()))
number

0

'Number is Zero'

In [ ]:
# In this specific example, the input is a list of numbers. And we have to return the mean 
# and median of this list of numbers


def mean_med(my_list):
  mean = sum(my_list)/len(my_list)

  sort_ = sorted(my_list)
  length_list = len(sort_)

  if length_list%2 == 0:
    median = (sort_[int(length_list/2)-1] + sort_[int(length_list/2)])/2
  else:
    median = sort_[int(length_list+1/2)-1]
  return mean , median

In [ ]:
heights =  [172,175,170,168,170,200]

a = mean_med(heights)
a

(175.83333333333334, 171.0)

In [ ]:
def add_to_list(my_list,element):

  new_list = my_list+[element]
  return new_list

In [ ]:
list_ = [1,2,6,9,5,7,5,4,4,5,4,5,7]

In [ ]:
a = add_to_list(list_,"Shambhuraj")
a

[1, 2, 6, 9, 5, 7, 5, 4, 4, 5, 4, 5, 7, 'Shambhuraj']

In [1]:
# Create your dictionary below with keys as position of the alphabet and the value of the key will be the alphabet itself
alphabet_dict = {0:" ",1:'a', 2:'b', 3:'c', 4:'d', 5:'e', 6:'f', 7:'g', 8:'h',
                 9:'i', 10:'j', 11:'k', 12:'l', 13:'m',14:'n', 15:'o', 16:'p', 
                 17:'q', 18:'r', 19:'s',20:'t', 21:'u', 22:'v', 23:'w', 24:'x', 25:'y', 26:'z'}


# Print your dictionary to double check;  any small mistake in numbering can screw up the results
print(alphabet_dict)

{0: ' ', 1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h', 9: 'i', 10: 'j', 11: 'k', 12: 'l', 13: 'm', 14: 'n', 15: 'o', 16: 'p', 17: 'q', 18: 'r', 19: 's', 20: 't', 21: 'u', 22: 'v', 23: 'w', 24: 'x', 25: 'y', 26: 'z'}

In [2]:
# Extract keys and values and store it as lists
keys_list = list(alphabet_dict.keys())
print(keys_list)
values_list = list(alphabet_dict.values())
print(values_list)

#find the index of given lphabet in values
index_ = values_list.index('h')

#use this index in list of keys to extract associated key with that value
keys_list[index_]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
[' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

8

In [4]:
#  Store the message in a variable 
encrypted_message = ("ajsuydtbe", "", "wunjbfusnjrgut", "uhbhr", "oirun", "lpef", "", "vhejsibr", "ydtse", "qlvuusrntuos", "ijwlbutybhlsoaxh")

In [5]:
len(encrypted_message)

11

In [6]:
# Follow the steps from your solution to problem 1

# Create an empty list 
string_length_list  = []

# Append the length of strings of your tuple one by one

for word in encrypted_message:
  string_length_list.append(len(word))


# Print the list of string lengths 
print(string_length_list)

[9, 0, 14, 5, 5, 4, 0, 8, 5, 12, 16]

In [7]:
decrypted_msg = ""

for i in  range(0,len(string_length_list)):
  decrypted_msg += alphabet_dict[string_length_list[i]]


print(decrypted_msg)

i need help