<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
numbers = [1,2,3,4,5]
alphabets = ['a','b','c','d','e']

In [11]:
zipp_ = zip(alphabets,numbers)
dict_ = dict(zipp_)

In [12]:
dict_

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [5]:
import pandas as pd

In [14]:
df = pd.DataFrame(dict_,('*','**','***','****','*****'))
df

       a  b  c  d  e
*      1  2  3  4  5
**     1  2  3  4  5
***    1  2  3  4  5
****   1  2  3  4  5
*****  1  2  3  4  5

In [15]:
list(df.index)

['*', '**', '***', '****', '*****']

In [16]:
list(df.a)

[1, 1, 1, 1, 1]

In [17]:
list(df.e)

[5, 5, 5, 5, 5]

In [19]:
import numpy as np

In [22]:
a = np.random.randn(5,5)
a

array([[-0.41114387,  0.41565709,  0.79358341, -1.34090175, -0.98450321],
       [-1.73576694,  0.09896799,  0.37770612,  1.02453637, -0.26052436],
       [ 0.25860191, -1.64263126,  0.95487415,  0.80919031, -0.01659622],
       [ 1.90406769,  0.97867467,  0.29594712, -1.39887379, -1.35807583],
       [ 0.46972853, -0.3852482 , -1.11014849, -0.8322995 , -0.16080121]])

In [27]:
df=pd.DataFrame(a,index=[1,2,3,4,5],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1 -0.411144  0.415657  0.793583 -1.340902 -0.984503
2 -1.735767  0.098968  0.377706  1.024536 -0.260524
3  0.258602 -1.642631  0.954874  0.809190 -0.016596
4  1.904068  0.978675  0.295947 -1.398874 -1.358076
5  0.469729 -0.385248 -1.110148 -0.832300 -0.160801

In [28]:
df.head(1)

          A         B         C         D         E
1 -0.411144  0.415657  0.793583 -1.340902 -0.984503

In [29]:
df.tail(1)

          A         B         C       D         E
5  0.469729 -0.385248 -1.110148 -0.8323 -0.160801

In [32]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [33]:
list(df.columns)

['A', 'B', 'C', 'D', 'E']

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
 3   D       5 non-null      float64
 4   E       5 non-null      float64
dtypes: float64(5)
memory usage: 240.0 bytes

In [35]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.097097 -0.106916  0.262392 -0.347670 -0.556100
std    1.327383  0.991195  0.815473  1.177676  0.583392
min   -1.735767 -1.642631 -1.110148 -1.398874 -1.358076
25%   -0.411144 -0.385248  0.295947 -1.340902 -0.984503
50%    0.258602  0.098968  0.377706 -0.832300 -0.260524
75%    0.469729  0.415657  0.793583  0.809190 -0.160801
max    1.904068  0.978675  0.954874  1.024536 -0.016596

In [37]:
df.rename(columns={'E':'EAT'},inplace=True)

In [38]:
df

          A         B         C         D       EAT
1 -0.411144  0.415657  0.793583 -1.340902 -0.984503
2 -1.735767  0.098968  0.377706  1.024536 -0.260524
3  0.258602 -1.642631  0.954874  0.809190 -0.016596
4  1.904068  0.978675  0.295947 -1.398874 -1.358076
5  0.469729 -0.385248 -1.110148 -0.832300 -0.160801

In [40]:
df.EAT[1] = 1.0000

In [41]:
df

          A         B         C         D       EAT
1 -0.411144  0.415657  0.793583 -1.340902  1.000000
2 -1.735767  0.098968  0.377706  1.024536 -0.260524
3  0.258602 -1.642631  0.954874  0.809190 -0.016596
4  1.904068  0.978675  0.295947 -1.398874 -1.358076
5  0.469729 -0.385248 -1.110148 -0.832300 -0.160801

In [43]:
df.B[5] < 0

True

In [52]:
df.rename(columns={'EAT':'E'},inplace = True)
df

          A         B         C         D         E
1 -0.411144  0.415657  0.793583 -1.340902  1.000000
2 -1.735767  0.098968  0.377706  1.024536 -0.260524
3  0.258602 -1.642631  0.954874  0.809190 -0.016596
4  1.904068  0.978675  0.295947 -1.398874 -1.358076
5  0.469729 -0.385248 -1.110148 -0.832300 -0.160801

In [53]:
from google.colab import drive
drive.mount('/content/Mydrive')

Mounted at /content/Mydrive

In [54]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.097097 -0.106916  0.262392 -0.347670 -0.159200
std    1.327383  0.991195  0.815473  1.177676  0.838399
min   -1.735767 -1.642631 -1.110148 -1.398874 -1.358076
25%   -0.411144 -0.385248  0.295947 -1.340902 -0.260524
50%    0.258602  0.098968  0.377706 -0.832300 -0.160801
75%    0.469729  0.415657  0.793583  0.809190 -0.016596
max    1.904068  0.978675  0.954874  1.024536  1.000000

In [58]:
df.iloc[0,0]

-0.41114386681950493

In [60]:
df.A[5] = 'Shambhuraj'
df

            A         B         C         D         E
1   -0.411144  0.415657  0.793583 -1.340902  1.000000
2   -1.735767  0.098968  0.377706  1.024536 -0.260524
3    0.258602 -1.642631  0.954874  0.809190 -0.016596
4    1.904068  0.978675  0.295947 -1.398874 -1.358076
5  Shambhuraj -0.385248 -1.110148 -0.832300 -0.160801

In [66]:
df.iloc[4,0]

'Shambhuraj'

In [83]:
b = df.B
b1 = []
for i in b:
  if i > -2:
    b1.append(i)
  else:
    pass
b1

[0.4156570873602298,
 0.09896799158249352,
 -1.6426312552175488,
 0.9786746671218857,
 -0.38524819605481936]

In [84]:
df.B

1    0.415657
2    0.098968
3   -1.642631
4    0.978675
5   -0.385248
Name: B, dtype: float64