<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [2]:
#Find the unique set of values. Store this in a list
unique_temp = list(set(temperatures))

In [3]:
# Print the unique temperature list
print(unique_temp)

[33, 34, 39, 40, 42, 29]

In [7]:
# Create an empty dictionary which will contain the unique temperatures as keys and their counts as values
temp_dict = {}

first_key = unique_temp[0]
temp_dict[first_key] = temperatures.count(first_key)

second_key = unique_temp[1]
temp_dict[second_key] = temperatures.count(second_key)

third_key = unique_temp[2]
temp_dict[third_key] = temperatures.count(third_key)

fourth_key = unique_temp[3]
temp_dict[fourth_key] = temperatures.count(fourth_key)

fifth_key = unique_temp[4]
temp_dict[fifth_key] = temperatures.count(fifth_key)

sixth_key = unique_temp[5]
temp_dict[sixth_key] = temperatures.count(sixth_key)


temp_dict

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [12]:
#  Store the dictionary values in a list
list_values = list(temp_dict.values())

# Find the index of the most frequent temperature value
index_most_freq = list_values.index(max(list_values))
index_most_freq

1

In [14]:
#  Create the list of dictionary keys
list_of_keys = list(temp_dict.keys())

print(list_of_keys)

[33, 34, 39, 40, 42, 29]

In [17]:
# Calculate the mode temperature
mode_of_temp = list_of_keys[index_most_freq]
print(mode_of_temp)

34

In [26]:
# Input list of tuples
# You need to replace the last element of the last tuple with 100
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]

last_tuple = list_of_tuples[-1]
add_ele = last_tuple[:-1]+(100,)
output = list_of_tuples[:-1]
output.append(add_ele)
print(output)

[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

In [31]:
# A sample sentence 

sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

# Print your sentence
print(sentence)

Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year

In [32]:
sentence = sentence.split(" ")
first_word = list([word[0] for word in sentence])
print(first_word)

['H', 'g', 'm', 'f', 'T', 'w', 'w', 'a', 't', 'h', 'y', 'p', 'r', 'o', 't', 'c', 'D', 't', 't', 'o', 'C', 'p', 'o', 'p', 'h', 'd', 'b', '6', 'a', 'c', 't', 't', 'l', 'y']

In [36]:
def factorial(num):
  if num < 0:
    print("We cannot define factorial value for negative numbers")
  elif num > 0:
    result = 1
    for i in range(1,num+1):
      result = result*i
  else:
    print("The factorial of 0 is 1")

  return result

In [39]:
f = factorial(5)
f

120