<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [5]:
sq_numbers=[]
for numbers in list_of_numbers :
  sq_numbers.append(numbers**2)

In [6]:
sq_numbers

[1, 4, 16, 36, 121, 196, 289, 400]

In [7]:
sq_num = [number**2 for number in list_of_numbers]

In [8]:
sq_num

[1, 4, 16, 36, 121, 196, 289, 400]

In [11]:
even_sq_num = [numbers**2 for numbers in list_of_numbers if numbers%2==0]
even_sq_num

[4, 16, 36, 196, 400]

In [14]:
odd_sq_num = [numbers**2 for numbers in list_of_numbers if numbers%2!=0]
odd_sq_num

[1, 121, 289]

In [15]:
odd_sq_numbers = [numbers**2 if numbers%2!=0 else numbers**3 for numbers in list_of_numbers]
odd_sq_numbers

[1, 8, 64, 216, 121, 2744, 289, 8000]