<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
numbers = [1,2,3,4,5]
alphabets = ['a','b','c','d','e']

In [11]:
zipp_ = zip(alphabets,numbers)
dict_ = dict(zipp_)

In [12]:
dict_

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [5]:
import pandas as pd

In [14]:
df = pd.DataFrame(dict_,('*','**','***','****','*****'))
df

       a  b  c  d  e
*      1  2  3  4  5
**     1  2  3  4  5
***    1  2  3  4  5
****   1  2  3  4  5
*****  1  2  3  4  5

In [15]:
list(df.index)

['*', '**', '***', '****', '*****']

In [16]:
list(df.a)

[1, 1, 1, 1, 1]

In [17]:
list(df.e)

[5, 5, 5, 5, 5]

In [19]:
import numpy as np

In [106]:
a = np.random.randn(5,5)
a

array([[ 1.03682044, -1.15229509,  0.56153991, -1.12594776,  0.7068771 ],
       [-0.54973348,  1.00770633,  0.07667318,  0.1511984 ,  0.28291726],
       [-0.97273181,  0.23472   , -2.69132507, -0.49892577,  1.42092338],
       [ 0.60440098, -0.51980491, -0.4322361 , -0.34658776, -1.51003006],
       [ 1.30945221, -0.41042548, -0.37454491, -2.18481363, -0.31340285]])

In [107]:
df=pd.DataFrame(a,index=[1,2,3,4,5],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  1.036820 -1.152295  0.561540 -1.125948  0.706877
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [108]:
df.head(1)

         A         B        C         D         E
1  1.03682 -1.152295  0.56154 -1.125948  0.706877

In [109]:
df.tail(1)

          A         B         C         D         E
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [110]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [111]:
list(df.columns)

['A', 'B', 'C', 'D', 'E']

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
 3   D       5 non-null      float64
 4   E       5 non-null      float64
dtypes: float64(5)
memory usage: 240.0 bytes

In [113]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.285642 -0.168020 -0.571979 -0.801015  0.117457
std    0.999427  0.820951  1.250575  0.897908  1.107720
min   -0.972732 -1.152295 -2.691325 -2.184814 -1.510030
25%   -0.549733 -0.519805 -0.432236 -1.125948 -0.313403
50%    0.604401 -0.410425 -0.374545 -0.498926  0.282917
75%    1.036820  0.234720  0.076673 -0.346588  0.706877
max    1.309452  1.007706  0.561540  0.151198  1.420923

In [114]:
df.rename(columns={'E':'EAT'},inplace=True)

In [115]:
df

          A         B         C         D       EAT
1  1.036820 -1.152295  0.561540 -1.125948  0.706877
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [116]:
df.EAT[1] = 1.0000

In [117]:
df

          A         B         C         D       EAT
1  1.036820 -1.152295  0.561540 -1.125948  1.000000
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [118]:
df.B[5] < 0

True

In [119]:
df.rename(columns={'EAT':'E'},inplace = True)
df

          A         B         C         D         E
1  1.036820 -1.152295  0.561540 -1.125948  1.000000
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [183]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [120]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.285642 -0.168020 -0.571979 -0.801015  0.176082
std    0.999427  0.820951  1.250575  0.897908  1.153522
min   -0.972732 -1.152295 -2.691325 -2.184814 -1.510030
25%   -0.549733 -0.519805 -0.432236 -1.125948 -0.313403
50%    0.604401 -0.410425 -0.374545 -0.498926  0.282917
75%    1.036820  0.234720  0.076673 -0.346588  1.000000
max    1.309452  1.007706  0.561540  0.151198  1.420923

In [121]:
df.iloc[0,0]

1.0368204436704305

In [154]:
df.A[5] = np.NaN
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          A         B         C         D         E  Shambhuraj
1   1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2 -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5       NaN -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [123]:
df.iloc[4,0]

'Shambhuraj'

In [83]:
b = df.B
b1 = []
for i in b:
  if i > -2:
    b1.append(i)
  else:
    pass
b1

[0.4156570873602298,
 0.09896799158249352,
 -1.6426312552175488,
 0.9786746671218857,
 -0.38524819605481936]

In [84]:
df.B

1    0.415657
2    0.098968
3   -1.642631
4    0.978675
5   -0.385248
Name: B, dtype: float64

In [124]:
df['Shambhuraj'] = df['E']*0.5
df

            A         B         C         D         E  Shambhuraj
1     1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [125]:
df.drop([1],axis = 0)

            A         B         C         D         E  Shambhuraj
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [126]:
df

            A         B         C         D         E  Shambhuraj
1     1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [127]:
df['Shambhuraj'].sum()

0.44020386515699483

In [131]:
df['B'].sum()

-0.8400991448099708

In [133]:
def to_lowercase(column):
  return column.lower()

In [136]:
a = 'SHAMBHURAJ'

In [137]:
a.lower()

'shambhuraj'

In [143]:
add_two_num = lambda a,b: a+b

In [144]:
add_two_num(5,9999)

10004

In [147]:
import datetime as sydt

In [148]:
dt = sydt.datetime.now () 
print(dt)

2022-10-18 04:36:10.839294

In [150]:
dt = sydt.datetime.now()
dt

datetime.datetime(2022, 10, 18, 4, 36, 36, 203459)

In [155]:
df['A'].fillna(20.12152512)

1     1.036820
2    -0.549733
3    -0.972732
4     0.604401
5    20.121525
Name: A, dtype: float64

In [156]:
s1 = np.random.randn(5,2)
s1

array([[-2.05786954, -0.72434565],
       [ 0.23885443,  0.35940475],
       [-0.66166598, -1.40202273],
       [ 0.43839346, -1.10427246],
       [-0.0811755 , -0.33947801]])

In [157]:
s2 = np.random.randn(5,2)
s2

array([[ 0.33119176,  0.17337965],
       [-0.09379134,  0.22464287],
       [-0.26695841,  1.08206782],
       [ 0.61296739,  0.48338499],
       [ 0.93365161,  0.99081374]])

In [161]:
a=pd.DataFrame(s1)
b=pd.DataFrame(s2)

In [179]:
my_df = pd.concat([a,b],axis=0,join='outer',ignore_index=True,sort=None)
my_df

          0         1
0 -2.057870 -0.724346
1  0.238854  0.359405
2 -0.661666 -1.402023
3  0.438393 -1.104272
4 -0.081176 -0.339478
5  0.331192  0.173380
6 -0.093791  0.224643
7 -0.266958  1.082068
8  0.612967  0.483385
9  0.933652  0.990814

In [174]:
from datetime import datetime

In [175]:
datetime.now()

datetime.datetime(2022, 10, 18, 4, 57, 57, 391929)

In [185]:
dff = pd.read_csv('/content/drive/MyDrive/Dataset/Employee.csv')
dff

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [186]:
dff.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [190]:
dff.WorkLifeBalance.value_counts()

3    893
2    344
4    153
1     80
Name: WorkLifeBalance, dtype: int64