<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
numbers = [1,2,3,4,5]
alphabets = ['a','b','c','d','e']

In [11]:
zipp_ = zip(alphabets,numbers)
dict_ = dict(zipp_)

In [12]:
dict_

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [4]:
import pandas as pd

In [14]:
df = pd.DataFrame(dict_,('*','**','***','****','*****'))
df

       a  b  c  d  e
*      1  2  3  4  5
**     1  2  3  4  5
***    1  2  3  4  5
****   1  2  3  4  5
*****  1  2  3  4  5

In [15]:
list(df.index)

['*', '**', '***', '****', '*****']

In [16]:
list(df.a)

[1, 1, 1, 1, 1]

In [17]:
list(df.e)

[5, 5, 5, 5, 5]

In [19]:
import numpy as np

In [106]:
a = np.random.randn(5,5)
a

array([[ 1.03682044, -1.15229509,  0.56153991, -1.12594776,  0.7068771 ],
       [-0.54973348,  1.00770633,  0.07667318,  0.1511984 ,  0.28291726],
       [-0.97273181,  0.23472   , -2.69132507, -0.49892577,  1.42092338],
       [ 0.60440098, -0.51980491, -0.4322361 , -0.34658776, -1.51003006],
       [ 1.30945221, -0.41042548, -0.37454491, -2.18481363, -0.31340285]])

In [107]:
df=pd.DataFrame(a,index=[1,2,3,4,5],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  1.036820 -1.152295  0.561540 -1.125948  0.706877
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [108]:
df.head(1)

         A         B        C         D         E
1  1.03682 -1.152295  0.56154 -1.125948  0.706877

In [109]:
df.tail(1)

          A         B         C         D         E
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [110]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [111]:
list(df.columns)

['A', 'B', 'C', 'D', 'E']

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
 3   D       5 non-null      float64
 4   E       5 non-null      float64
dtypes: float64(5)
memory usage: 240.0 bytes

In [113]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.285642 -0.168020 -0.571979 -0.801015  0.117457
std    0.999427  0.820951  1.250575  0.897908  1.107720
min   -0.972732 -1.152295 -2.691325 -2.184814 -1.510030
25%   -0.549733 -0.519805 -0.432236 -1.125948 -0.313403
50%    0.604401 -0.410425 -0.374545 -0.498926  0.282917
75%    1.036820  0.234720  0.076673 -0.346588  0.706877
max    1.309452  1.007706  0.561540  0.151198  1.420923

In [114]:
df.rename(columns={'E':'EAT'},inplace=True)

In [115]:
df

          A         B         C         D       EAT
1  1.036820 -1.152295  0.561540 -1.125948  0.706877
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [116]:
df.EAT[1] = 1.0000

In [117]:
df

          A         B         C         D       EAT
1  1.036820 -1.152295  0.561540 -1.125948  1.000000
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [118]:
df.B[5] < 0

True

In [119]:
df.rename(columns={'EAT':'E'},inplace = True)
df

          A         B         C         D         E
1  1.036820 -1.152295  0.561540 -1.125948  1.000000
2 -0.549733  1.007706  0.076673  0.151198  0.282917
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030
5  1.309452 -0.410425 -0.374545 -2.184814 -0.313403

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [120]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.285642 -0.168020 -0.571979 -0.801015  0.176082
std    0.999427  0.820951  1.250575  0.897908  1.153522
min   -0.972732 -1.152295 -2.691325 -2.184814 -1.510030
25%   -0.549733 -0.519805 -0.432236 -1.125948 -0.313403
50%    0.604401 -0.410425 -0.374545 -0.498926  0.282917
75%    1.036820  0.234720  0.076673 -0.346588  1.000000
max    1.309452  1.007706  0.561540  0.151198  1.420923

In [121]:
df.iloc[0,0]

1.0368204436704305

In [154]:
df.A[5] = np.NaN
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          A         B         C         D         E  Shambhuraj
1   1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2 -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3 -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4  0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5       NaN -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [123]:
df.iloc[4,0]

'Shambhuraj'

In [83]:
b = df.B
b1 = []
for i in b:
  if i > -2:
    b1.append(i)
  else:
    pass
b1

[0.4156570873602298,
 0.09896799158249352,
 -1.6426312552175488,
 0.9786746671218857,
 -0.38524819605481936]

In [84]:
df.B

1    0.415657
2    0.098968
3   -1.642631
4    0.978675
5   -0.385248
Name: B, dtype: float64

In [124]:
df['Shambhuraj'] = df['E']*0.5
df

            A         B         C         D         E  Shambhuraj
1     1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [125]:
df.drop([1],axis = 0)

            A         B         C         D         E  Shambhuraj
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [126]:
df

            A         B         C         D         E  Shambhuraj
1     1.03682 -1.152295  0.561540 -1.125948  1.000000    0.500000
2   -0.549733  1.007706  0.076673  0.151198  0.282917    0.141459
3   -0.972732  0.234720 -2.691325 -0.498926  1.420923    0.710462
4    0.604401 -0.519805 -0.432236 -0.346588 -1.510030   -0.755015
5  Shambhuraj -0.410425 -0.374545 -2.184814 -0.313403   -0.156701

In [127]:
df['Shambhuraj'].sum()

0.44020386515699483

In [131]:
df['B'].sum()

-0.8400991448099708

In [133]:
def to_lowercase(column):
  return column.lower()

In [136]:
a = 'SHAMBHURAJ'

In [137]:
a.lower()

'shambhuraj'

In [143]:
add_two_num = lambda a,b: a+b

In [144]:
add_two_num(5,9999)

10004

In [147]:
import datetime as sydt

In [148]:
dt = sydt.datetime.now () 
print(dt)

2022-10-18 04:36:10.839294

In [150]:
dt = sydt.datetime.now()
dt

datetime.datetime(2022, 10, 18, 4, 36, 36, 203459)

In [155]:
df['A'].fillna(20.12152512)

1     1.036820
2    -0.549733
3    -0.972732
4     0.604401
5    20.121525
Name: A, dtype: float64

In [156]:
s1 = np.random.randn(5,2)
s1

array([[-2.05786954, -0.72434565],
       [ 0.23885443,  0.35940475],
       [-0.66166598, -1.40202273],
       [ 0.43839346, -1.10427246],
       [-0.0811755 , -0.33947801]])

In [157]:
s2 = np.random.randn(5,2)
s2

array([[ 0.33119176,  0.17337965],
       [-0.09379134,  0.22464287],
       [-0.26695841,  1.08206782],
       [ 0.61296739,  0.48338499],
       [ 0.93365161,  0.99081374]])

In [161]:
a=pd.DataFrame(s1)
b=pd.DataFrame(s2)

In [179]:
my_df = pd.concat([a,b],axis=0,join='outer',ignore_index=True,sort=None)
my_df

          0         1
0 -2.057870 -0.724346
1  0.238854  0.359405
2 -0.661666 -1.402023
3  0.438393 -1.104272
4 -0.081176 -0.339478
5  0.331192  0.173380
6 -0.093791  0.224643
7 -0.266958  1.082068
8  0.612967  0.483385
9  0.933652  0.990814

In [174]:
from datetime import datetime

In [175]:
datetime.now()

datetime.datetime(2022, 10, 18, 4, 57, 57, 391929)

In [5]:
dff = pd.read_csv('/content/drive/MyDrive/Dataset/Employee.csv')
dff

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [186]:
dff.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [190]:
dff.WorkLifeBalance.value_counts()

3    893
2    344
4    153
1     80
Name: WorkLifeBalance, dtype: int64

In [7]:
dff['Attrition'].value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

In [8]:
x=5

In [14]:
dff.describe(exclude='object')

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [15]:
df1 = pd.read_csv('/content/drive/MyDrive/imdb.csv')

In [16]:
df1

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [21]:
df1.isna().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [23]:
df1.belongs_to_collection.fillna(value="False",inplace=True)

In [24]:
df1.isna().sum()

id                          0
belongs_to_collection       0
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [25]:
df1['belongs_to_collection']

0       [{'id': 313576, 'name': 'Hot Tub Time Machine ...
1       [{'id': 107674, 'name': 'The Princess Diaries ...
2                                                   False
3                                                   False
4                                                   False
                              ...
2995                                                False
2996                                                False
2997                                                False
2998                                                False
2999                                                False
Name: belongs_to_collection, Length: 3000, dtype: object

In [27]:
df1.drop('belongs_to_collection',inplace=True,axis=1)

In [28]:
df1.columns

Index(['id', 'budget', 'genres', 'homepage', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'revenue'],
      dtype='object')

In [36]:
df1[(df1['runtime']>100) & (df1['original_language']=='en')]

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1,2,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
10,11,1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,/i5xiwdSsrecBvO7mIfAJixeEDSg.jpg,...,11/21/76,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147
12,13,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,/or1MP8BZIAjqWYxPdPX724ydKar.jpg,...,9/15/99,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look closer.,American Beauty,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...",356296601
13,14,53000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0377471,en,Be Cool,"Disenchanted with the movie industry, Chili Pa...",13.314233,/ekKCH7Zkb5ZTr1f1AczZY23FH.jpg,...,3/4/05,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone is looking for the next big hit,Be Cool,"[{'id': 3605, 'name': 'baseball bat'}, {'id': ...","[{'cast_id': 4, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe43cbc3a36847f807039f', 'de...",95226116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,2994,60000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.theterminal-themovie.com/,tt0362227,en,The Terminal,Viktor Navorski is a man without a country; hi...,14.092373,/f4Dup6awDfDqAHKgWqNJ2HFw1qN.jpg,...,6/17/04,128.0,"[{'iso_639_1': 'bg', 'name': 'български език'}...",Released,Life is waiting.,The Terminal,"[{'id': 242, 'name': 'new york'}, {'id': 822, ...","[{'cast_id': 4, 'character': 'Viktor Navorski'...","[{'credit_id': '52fe4259c3a36847f8017699', 'de...",219417255
2994,2995,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,/poV3j71mcmQkmjezc2H35xJsAhD.jpg,...,9/18/92,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067
2995,2996,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2997,2998,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2999,3000,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155