<a href="https://colab.research.google.com/github/Shambhurajdesai/basics/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [5]:
sq_numbers=[]
for numbers in list_of_numbers :
  sq_numbers.append(numbers**2)

In [6]:
sq_numbers

[1, 4, 16, 36, 121, 196, 289, 400]

In [7]:
sq_num = [number**2 for number in list_of_numbers]

In [8]:
sq_num

[1, 4, 16, 36, 121, 196, 289, 400]

In [11]:
even_sq_num = [numbers**2 for numbers in list_of_numbers if numbers%2==0]
even_sq_num

[4, 16, 36, 196, 400]

In [14]:
odd_sq_num = [numbers**2 for numbers in list_of_numbers if numbers%2!=0]
odd_sq_num

[1, 121, 289]

In [15]:
odd_sq_numbers = [numbers**2 if numbers%2!=0 else numbers**3 for numbers in list_of_numbers]
odd_sq_numbers

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [17]:
list_ = []
for num1 in range(4):
  list_.append([])

  for num2 in range(3):
    list_[num1].append(num2)

print(list_)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [2]:
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [7]:
list_of_lists = [[num1 for num2 in range(3)] for num1 in range(4)]
list_of_lists

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [12]:
quote = 'Hey, what are you doing here.? I thought you went to city where were you work for last 10 years. its very surprising to see you again .!'

In [20]:
words_of_quote = quote.split(" ")
print(words_of_quote)

['Hey,', 'what', 'are', 'you', 'doing', 'here.?', 'I', 'thought', 'you', 'went', 'to', 'city', 'where', 'were', 'you', 'work', 'for', 'last', '10', 'years.', 'its', 'very', 'surprising', 'to', 'see', 'you', 'again', '.!']

In [13]:
quote.split('.')

['Hey, what are you doing here',
 '? I thought you went to city where were you work for last 10 years',
 ' its very surprising to see you again ',
 '!']

In [18]:
first_letter = []
for word in words_of_quote:
  first_letter.append(word[0])
print(first_letter)

['H', 'w', 'a', 'y', 'd', 'h', 'I', 't', 'y', 'w', 't', 'c', 'w', 'w', 'y', 'w', 'f', 'l', '1', 'y', 'i', 'v', 's', 't', 's', 'y', 'a', '.']

In [21]:
first_letter_1 = [word[0] for word in words_of_quote]
print(first_letter_1)

['H', 'w', 'a', 'y', 'd', 'h', 'I', 't', 'y', 'w', 't', 'c', 'w', 'w', 'y', 'w', 'f', 'l', '1', 'y', 'i', 'v', 's', 't', 's', 'y', 'a', '.']

In [22]:
quote_ = 'Hey there My name is Shabhuraj'

In [23]:
words_=[]
for char in quote_:
  words_.append(char)
print(words_)

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'S', 'h', 'a', 'b', 'h', 'u', 'r', 'a', 'j']

In [24]:
#by using list comprehension
words_by_list_c = [char for char in quote_]
print(words_by_list_c)

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'S', 'h', 'a', 'b', 'h', 'u', 'r', 'a', 'j']

In [4]:
days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [5]:
tuple(days for days in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [6]:
days_without_day = tuple([days[:-3] for days in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [7]:
country_city_list = [('India','Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [9]:
country_city_list = dict(country_city_list)
country_city_list

{'India': 'Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [15]:
flipped = {}
for country,city in country_city_list.items():
  flipped[city]=country
print(flipped)

{'Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [19]:
flipped_ = {city:country for country,city in country_city_list.items()}
print(flipped_)

{'Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [23]:
flipped = {city:country for country, city in country_city_list.items()}
print(flipped)

{'Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [27]:
flipped = {city:country for country,city in country_city_list.items() if country[0] in ['I','U']}
print(flipped)

{'Delhi': 'India', 'Washington DC': 'United States'}

In [28]:
flipped = {city[:2]:country[:2] for country,city in country_city_list.items()}
print(flipped)

{'De': 'In', 'Ca': 'Au', 'Wa': 'Un', 'Lo': 'En'}

In [32]:
flipped = {city[:2]:country[-3:] for country,city in country_city_list.items() if country[0] in ['E','A']}
print(flipped)

{'Ca': 'lia', 'Lo': 'and'}